<%= form_with(model: proyecto, local: true) do |form| %>
  <% if proyecto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proyecto.errors.count, "error") %> prohibited this proyecto from being saved:</h2>

      <ul>
      <% proyecto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_instituto %>
    <%= form.number_field :id_instituto, id: :proyecto_id_instituto %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :proyecto_nombre %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_field :descripcion, id: :proyecto_descripcion %>
  </div>

  <div class="field">
    <%= form.label :id_status %>
    <%= form.number_field :id_status, id: :proyecto_id_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
