- form_path = proyecto.id.nil? ? proyecto_path : proyecto_path(proyecto)
= form_with(url: form_path, model: proyecto, local: true) do |form|
  - if proyecto.errors.any?
    #error_explanation.alert.alert-danger{role: 'alert'}
      %h2
        Existen
        proyecto.errors.count
        = "error".pluralize(proyecto.errors.count, :es)
      %ul
        - proyecto.errors.full_messages.each do |message|
          %li= message

  .row
    .col.col-4.form-group
      = form.label :id_instituto
      = form.number_field :id_instituto, id: :proyecto_id_instituto
    .col.col-4.form-group
      = form.label :nombre
      = form.text_field :nombre, id: :proyecto_nombre
    .col.col-4.form-group
      = form.label :descripcion
      = form.text_field :descripcion, id: :proyecto_descripcion
    .col.col-4.form-group
      = form.label :id_status, "Estado"
      = form.select :id_status, @statuses.collect{|status| [status.nombre, status.id]}, {}, {id: :proyecto_id_status, class: 'form-control'}
  .actions
      = form.submit "Guardar", class: 'btn btn-primary pull-right'
