.container
  .row
    .col.col-9
      %h1 Mostrar proyecto o programa
    .col.col-3
      = link_to 'Editar', edit_proyecto_path(@proyecto), class: 'btn btn-outline-primary pull-right'
      = link_to 'Volver', proyectos_path, class: 'btn btn-outline-link pull-right'
  .row
    .col.col-4.font-weight-bold
      ID:
    .col.col-8
      = @proyecto.id
  .row
    .col.col-4.font-weight-bold
      Nombre:
    .col.col-8
      = @proyecto.nombre
  .row
    .col.col-4.font-weight-bold
      Facultad / instituto:
    .col.col-8
      = @proyecto.facultad.try(:nombre)
  .row
    .col.col-4.font-weight-bold
      Instituci&oacute;n:
    .col.col-8
      = @proyecto.facultad.try(:institucion).try(:nombre)
  .row
    .col.col-4.font-weight-bold
      Descripci&oacute;n:
    .col.col-8
      = @proyecto.descripcion
  .row
    .col.col-4.font-weight-bold
      Estado
    .col.col-8
      = render 'shared/status_beautify', status: @proyecto.status

  %br/

.container
  .row
    .col.col-12
      = render 'proyectos/area_asociation_form'
  %br/
  %br/
.container-fluid
  .row
    .col.col-12
      %h2 &Aacute;reas de estudio del proyecto o programa
  = render 'areas/list', collection: @proyecto.areas, hide_pagination: true
