.container
  .row
    .col.col-9
      %h1 Mostrar municipio
    .col.col-3
      = link_to 'Editar', edit_municipio_path(@municipio), class: 'btn btn-outline-primary pull-right'
      = link_to 'Volver', municipios_path, class: 'btn btn-outline-link pull-right'
  .row
    .col.col-4.font-weight-bold
      ID:
    .col.col-8
      = @municipio.id
  .row
    .col.col-4.font-weight-bold
      Nombre:
    .col.col-8
      = @municipio.nombre
  .row
    .col.col-4.font-weight-bold
      Departamento:
    .col.col-8
      = @municipio.departamento.try(:nombre)
  .row
    .col.col-4.font-weight-bold
      Estado
    .col.col-8
      = render 'shared/status_beautify', status: @municipio.status
