.container
  .row
    .col.col-9
      %h1 Mostrar microcuenca
    .col.col-3
      = link_to 'Editar', edit_microcuenca_path(@microcuenca), class: 'btn btn-outline-primary pull-right'
      = link_to 'Volver', microcuencas_path, class: 'btn btn-outline-link pull-right'
  .row
    .col.col-4.font-weight-bold
      ID:
    .col.col-8
      = @microcuenca.id
  .row
    .col.col-4.font-weight-bold
      Nombre:
    .col.col-8
      = @microcuenca.nombre
  .row
    .col.col-4.font-weight-bold
      Vertiente / Cuenca / Subcuenca:
    .col.col-8
      = @microcuenca.subcuenca.try(:cuenca).try(:vertiente).try(:nombre)
      = "/"
      = @microcuenca.subcuenca.try(:cuenca).try(:nombre)
      = "/"
      = @microcuenca.subcuenca.try(:nombre)
  .row
    .col.col-4.font-weight-bold
      Estado
    .col.col-8
      = render 'shared/status_beautify', status: @microcuenca.status
