- content_for(:page_class){'sign-in-page'}

.container
  .row
    .col.logo
      = image_tag 'images/logo.png'
  .form-sign-in
    = form_for(resource, as: resource_name, url: users_path) do |f|
      .row
        .col
          %h1 Registrar un nuevo usuario

      - errors = devise_error_messages!
      - if !errors.blank?
        #error_explanation.alert.alert-danger{role: 'alert'}
          %h2
            Existen errores:

          = errors

      .row
        .col.col-12.form-group
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Correo electronico'
        .col.col-12.form-group
          - if @minimum_password_length
            %em
              (Minimo #{@minimum_password_length} caracteres)
          = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: raw('Contrase&ntilde;a')
        .col.col-12.form-group
          = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: raw('Confirmar contrase&ntilde;a')

      .row
        .col.actions
          = f.submit "Guardar", class: 'btn btn-primary pull-right'
