<p id="notice"><%= notice %></p>

<h1>Area Investigacions</h1>

<table>
  <thead>
    <tr>
      <th>Id investigacion</th>
      <th>Id area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @area_investigacions.each do |area_investigacion| %>
      <tr>
        <td><%= area_investigacion.id_investigacion %></td>
        <td><%= area_investigacion.id_area %></td>
        <td><%= link_to 'Show', area_investigacion %></td>
        <td><%= link_to 'Edit', edit_area_investigacion_path(area_investigacion) %></td>
        <td><%= link_to 'Destroy', area_investigacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Area Investigacion', new_area_investigacion_path %>
