<p id="notice"><%= notice %></p>

<p>
  <strong>Id investigacion:</strong>
  <%= @area_investigacion.id_investigacion %>
</p>

<p>
  <strong>Id area:</strong>
  <%= @area_investigacion.id_area %>
</p>

<%= link_to 'Edit', edit_area_investigacion_path(@area_investigacion) %> |
<%= link_to 'Back', area_investigacions_path %>
