- collection ||= []
- param_name ||= :page
- hide_pagination ||= false
- report_mode ||= @report_mode

.row
  - if report_mode
    .col
      %table.table.table-striped
        %thead
          %tr
            %th Nombre
            %th Estado
            %th{:colspan => "3"}
        %tbody
          - collection.each do |vertiente|
            %tr
              %td= vertiente.nombre
              %td= render 'shared/status_beautify', status: vertiente.status
              %td= link_to 'Mostrar', vertiente
              %td= link_to 'Editar', edit_vertiente_path(vertiente)
              %td= link_to 'Borrar', vertiente, method: :delete, data: { confirm: '&iquest;Est&aacute; seguro?'.html_safe }
  - else
    - collection.each do |vertiente|
      .col.col-xs-12.col-md-4.col-lg-3
        .col.box-item
          = link_to vertiente.nombre, vertiente, class: 'title'
          .data= render 'shared/status_beautify', status: vertiente.status
          .data-id= vertiente.id
          .options
            .aux
              .icon
                %i.fa.fa-ellipsis-v
              .expand
                = link_to 'Mostrar', vertiente
                = link_to 'Editar', edit_vertiente_path(vertiente)
                = link_to 'Borrar', vertiente, class: 'text-danger', method: :delete, data: { confirm: '&iquest;Est&aacute; seguro?'.html_safe }

- if !hide_pagination
  .row
    .col
      = paginate collection, param_name: param_name
