- form_path = status.id.nil? ? statuses_path : status_path(status)
= form_with(url: form_path, model: status, local: true) do |form|
  - if status.errors.any?
    #error_explanation.alert.alert-danger{role: 'alert'}
      %h2
        Existen
        = status.errors.count
        = "error".pluralize(status.errors.count, :es)
      %ul
        - status.errors.full_messages.each do |message|
          %li= message

  .row
    .col.col-6.form-group
      = form.label :nombre
      = form.text_field :nombre, id: :status_nombre, class: 'form-control'
    .col.col-6.form-group
      %label= "&nbsp;".html_safe
      .form-check
        = form.check_box :visible, id: :status_visible, class: 'form-check-input'
        = form.label :visible, "Es visible", class: "form-check-label"
  .row
    .col.actions
      = form.submit "Guardar", class: 'btn btn-primary pull-right'
