<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @status.nombre %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @status.visible %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
