%p#notice= notice
%p
  %strong Nombre:
  = @departamento.nombre
%p
  %strong Id status:
  = @departamento.id_status
= link_to 'Edit', edit_departamento_path(@departamento)
|
= link_to 'Back', departamentos_path
