.container
  .row
    .col.col-9
      %h1 Mostrar Departamento
    .col.col-3
      = link_to 'Editar', edit_departamento_path(@departamento), class: 'btn btn-outline-primary pull-right'
      = link_to 'Volver', departamentos_path, class: 'btn btn-outline-link pull-right'
  .row
    .col.col-4.font-weight-bold
      ID:
    .col.col-8
      = @departamento.id
  .row
    .col.col-4.font-weight-bold
      Nombre:
    .col.col-8
      = @departamento.nombre
  .row
    .col.col-4.font-weight-bold
      Estado
    .col.col-8
      = render 'shared/status_beautify', status: @departamento.status

  %br/
  %br/
.container-fluid
  .row
    .col.col-8
      %h2 Municipios
    .col.col-4
      = link_to 'Nuevo Municipio', new_municipio_path, class:"btn btn-primary pull-right"

  = render 'municipios/list', collection: @departamento.municipios, hide_pagination: true
