<p id="notice"><%= notice %></p>

<h1>Investigaciones</h1>

<table>
  <thead>
    <tr>
      <th>Id instituto</th>
      <th>Id microcuenca</th>
      <th>Id municipio</th>
      <th>Id documento</th>
      <th>Autor</th>
      <th>Titulo</th>
      <th>No paginas</th>
      <th>Fecha realizacion</th>
      <th>Fecha publicacion</th>
      <th>Resumen</th>
      <th>Palabras clave</th>
      <th>Recurso web</th>
      <th>Id status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @investigaciones.each do |investigacion| %>
      <tr>
        <td><%= investigacion.id_instituto %></td>
        <td><%= investigacion.id_microcuenca %></td>
        <td><%= investigacion.id_municipio %></td>
        <td><%= investigacion.id_documento %></td>
        <td><%= investigacion.autor %></td>
        <td><%= investigacion.titulo %></td>
        <td><%= investigacion.no_paginas %></td>
        <td><%= investigacion.fecha_realizacion %></td>
        <td><%= investigacion.fecha_publicacion %></td>
        <td><%= investigacion.resumen %></td>
        <td><%= investigacion.palabras_clave %></td>
        <td><%= investigacion.recurso_web %></td>
        <td><%= investigacion.id_status %></td>
        <td><%= link_to 'Show', investigacion %></td>
        <td><%= link_to 'Edit', edit_investigacion_path(investigacion) %></td>
        <td><%= link_to 'Destroy', investigacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Investigacion', new_investigacion_path %>
