<p id="notice"><%= notice %></p>

<p>
  <strong>Id instituto:</strong>
  <%= @investigacion.id_instituto %>
</p>

<p>
  <strong>Id microcuenca:</strong>
  <%= @investigacion.id_microcuenca %>
</p>

<p>
  <strong>Id municipio:</strong>
  <%= @investigacion.id_municipio %>
</p>

<p>
  <strong>Id documento:</strong>
  <%= @investigacion.id_documento %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @investigacion.autor %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @investigacion.titulo %>
</p>

<p>
  <strong>No paginas:</strong>
  <%= @investigacion.no_paginas %>
</p>

<p>
  <strong>Fecha realizacion:</strong>
  <%= @investigacion.fecha_realizacion %>
</p>

<p>
  <strong>Fecha publicacion:</strong>
  <%= @investigacion.fecha_publicacion %>
</p>

<p>
  <strong>Resumen:</strong>
  <%= @investigacion.resumen %>
</p>

<p>
  <strong>Palabras clave:</strong>
  <%= @investigacion.palabras_clave %>
</p>

<p>
  <strong>Recurso web:</strong>
  <%= @investigacion.recurso_web %>
</p>

<p>
  <strong>Id status:</strong>
  <%= @investigacion.id_status %>
</p>

<%= link_to 'Edit', edit_investigacion_path(@investigacion) %> |
<%= link_to 'Back', investigaciones_path %>
