.container
  .row
    .col.col-9
      %h1 Mostrar Investigacion
    .col.col-3
      = link_to 'Editar', edit_investigacion_path(@investigacion), class: 'btn btn-outline-primary pull-right'
      = link_to 'Volver', investigaciones_path, class: 'btn btn-outline-link pull-right'
  .row
    .col.col-4.font-weight-bold
      ID:
    .col.col-8
      = @investigacion.id
  .row
    .col.col-4.font-weight-bold
      Titulo:
    .col.col-8
      = @investigacion.titulo
  .row
    .col.col-4.font-weight-bold
      Facultado / Instituto:
    .col.col-8
      = @investigacion.facultad.try(:nombre)
  .row
    .col.col-4.font-weight-bold
      Vertiente / Cuenca / Subcuenca / Microcuenca:
    .col.col-8
      = @investigacion.microcuenca.try(:subcuenca).try(:cuenca).try(:vertiente).try(:nombre)
      = "/"
      = @investigacion.microcuenca.try(:subcuenca).try(:cuenca).try(:nombre)
      = "/"
      = @investigacion.microcuenca.try(:subcuenca).try(:nombre)
      = "/"
      = @investigacion.microcuenca.nombre
  .row
    .col.col-4.font-weight-bold
      Departmento:
    .col.col-8
      = @investigacion.municipio.try(:departamento).try(:nombre)
  .row
    .col.col-4.font-weight-bold
      Municipio:
    .col.col-8
      = @investigacion.municipio.try(:nombre)
  .row
    .col.col-4.font-weight-bold
      Tipo de documento:
    .col.col-8
      = @investigacion.tipo_documento.try(:nombre)
  .row
    .col.col-4.font-weight-bold
      Autor:
    .col.col-8
      = @investigacion.autor
  .row
    .col.col-4.font-weight-bold
      No paginas:
    .col.col-8
      = @investigacion.no_paginas
  .row
    .col.col-4.font-weight-bold
      Fecha realizacion:
    .col.col-8
      = @investigacion.fecha_realizacion
  .row
    .col.col-4.font-weight-bold
      Fecha publicacion:
    .col.col-8
      = @investigacion.fecha_publicacion
  .row
    .col.col-4.font-weight-bold
      Resumen:
    .col.col-8
      = @investigacion.resumen
  .row
    .col.col-4.font-weight-bold
      Palabras clave:
    .col.col-8
      = @investigacion.palabras_clave
  .row
    .col.col-4.font-weight-bold
      Recurso web:
    .col.col-8
      = @investigacion.recurso_web
  .row
    .col.col-4.font-weight-bold
      Estado
    .col.col-8
      = render 'shared/status_beautify', status: @investigacion.status

  %br/

.container
  .row
    .col.col-12
      = render 'investigaciones/area_asociation_form'
  %br/
  %br/
.container-fluid
  .row
    .col.col-12
      %h2 Areas de la investigaci&oacute;n
  = render 'areas/list', collection: @investigacion.areas, hide_pagination: true
