<p id="notice"><%= notice %></p>

<p>
  <strong>Id instituto:</strong>
  <%= @investigacione.id_instituto %>
</p>

<p>
  <strong>Id microcuenca:</strong>
  <%= @investigacione.id_microcuenca %>
</p>

<p>
  <strong>Id municipio:</strong>
  <%= @investigacione.id_municipio %>
</p>

<p>
  <strong>Id documento:</strong>
  <%= @investigacione.id_documento %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @investigacione.autor %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @investigacione.titulo %>
</p>

<p>
  <strong>No paginas:</strong>
  <%= @investigacione.no_paginas %>
</p>

<p>
  <strong>Fecha realizacion:</strong>
  <%= @investigacione.fecha_realizacion %>
</p>

<p>
  <strong>Fecha publicacion:</strong>
  <%= @investigacione.fecha_publicacion %>
</p>

<p>
  <strong>Resumen:</strong>
  <%= @investigacione.resumen %>
</p>

<p>
  <strong>Palabras clave:</strong>
  <%= @investigacione.palabras_clave %>
</p>

<p>
  <strong>Recurso web:</strong>
  <%= @investigacione.recurso_web %>
</p>

<p>
  <strong>Id status:</strong>
  <%= @investigacione.id_status %>
</p>

<%= link_to 'Edit', edit_investigacione_path(@investigacione) %> |
<%= link_to 'Back', investigaciones_path %>
