<%= form_with(model: institucione, local: true) do |form| %>
  <% if institucione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(institucione.errors.count, "error") %> prohibited this institucione from being saved:</h2>

      <ul>
      <% institucione.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :institucione_nombre %>
  </div>

  <div class="field">
    <%= form.label :siglas %>
    <%= form.text_field :siglas, id: :institucione_siglas %>
  </div>

  <div class="field">
    <%= form.label :telefono %>
    <%= form.text_field :telefono, id: :institucione_telefono %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion, id: :institucione_direccion %>
  </div>

  <div class="field">
    <%= form.label :correo_electronico %>
    <%= form.text_field :correo_electronico, id: :institucione_correo_electronico %>
  </div>

  <div class="field">
    <%= form.label :sitio_web %>
    <%= form.text_field :sitio_web, id: :institucione_sitio_web %>
  </div>

  <div class="field">
    <%= form.label :id_status %>
    <%= form.number_field :id_status, id: :institucione_id_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
