.container
  .row
    .col.col-9
      %h1 Mostrar instituci&oacute;n
    .col.col-3
      = link_to 'Editar', edit_institucion_path(@institucion), class: 'btn btn-outline-primary pull-right'
      = link_to 'Volver', instituciones_path, class: 'btn btn-outline-link pull-right'

  .row
    .col.col-4.font-weight-bold
      ID:
    .col.col-8
      = @institucion.id
  .row
    .col.col-4.font-weight-bold
      Nombre:
    .col.col-8
      = @institucion.nombre
  .row
    .col.col-4.font-weight-bold
      Siglas
    .col.col-8
      = @institucion.siglas

  .row
    .col.col-4.font-weight-bold
      Tel&eacute;fono
    .col.col-8
      = @institucion.telefono

  .row
    .col.col-4.font-weight-bold
      Direccion
    .col.col-8
      = @institucion.direccion

  .row
    .col.col-4.font-weight-bold
      Correo electr&oacute;nico
    .col.col-8
      = render 'shared/email_beautify', item: @institucion

  .row
    .col.col-4.font-weight-bold
      Sitio web
    .col.col-8
      = render 'shared/website_beautify', item: @institucion

  .row
    .col.col-4.font-weight-bold
      Estado
    .col.col-8
      = render 'shared/status_beautify', status: @institucion.status

  %br/
  %br/

.container-fluid
  .row
    .col.col-8
      %h2 Facultades e Institutos
    .col.col-4
      = link_to 'Nueva facultad o instituto', new_facultad_path, class:"btn btn-primary pull-right"

  = render 'facultades/list', collection: @institucion.facultades, hide_pagination: true
