.container
  .row
    .col.col-9
      %h1= @institucion.nombre
    .col.col-3
      = link_to 'Editar', edit_institucion_path(@institucion), class: 'btn btn-outline-primary pull-right'
      = link_to 'Volver', instituciones_path, class: 'btn btn-outline-link pull-right'

  .row
    .col.col-4.font-weight-bold
      Siglas
    .col.col-8
      = @institucion.siglas

  .row
    .col.col-4.font-weight-bold
      Telefono
    .col.col-8
      = @institucion.telefono

  .row
    .col.col-4.font-weight-bold
      Direccion
    .col.col-8
      = @institucion.direccion

  .row
    .col.col-4.font-weight-bold
      Correo electronico
    .col.col-8
      = render 'shared/email_beautify', item: @institucion

  .row
    .col.col-4.font-weight-bold
      Sitio web
    .col.col-8
      = render 'shared/website_beautify', item: @institucion

  .row
    .col.col-4.font-weight-bold
      Estado
    .col.col-8
      = render 'shared/status_beautify', @institucio.status

  %br/
  %br/

.container-fluid
  .row
    .col.col-8
      %h2 Facultades e Institutos
    .col.col-4
      = link_to 'Nueva Facultad o Instituto', new_facultad_path, class:"btn btn-primary pull-right"

  .row
    .col
      %table.table.table-striped
        %thead
          %tr
            %th Institucion
            %th Nombre
            %th Siglas
            %th Telefono
            %th Extension
            %th Direccion
            %th Correo electronico
            %th Sitio web
            %th Estado
            %th{colspan: "3"}

        %tbody
          - @facultades.each do |facultad|
            %tr
              %td= facultad.institucion.nombre
              %td= facultad.nombre
              %td= facultad.siglas
              %td= facultad.telefono
              %td= facultad.extension
              %td= facultad.direccion
              %td= render 'shared/email_beautify', item: facultad
              %td= render 'shared/website_beautify', item: facultad
              %td= render 'shared/status_beautify', item: facultad.status
              %td= link_to 'Mostrar', facultad_path(facultad)
              %td= link_to 'Editar', edit_facultad_path(facultad)
              %td= link_to 'Borrar', facultad_path(facultad), method: :delete, data: { confirm: 'Estas seguro?' }
