<%= form_with(model: proyecto_area, local: true) do |form| %>
  <% if proyecto_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(proyecto_area.errors.count, "error") %> prohibited this proyecto_area from being saved:</h2>

      <ul>
      <% proyecto_area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_proyecto %>
    <%= form.number_field :id_proyecto, id: :proyecto_area_id_proyecto %>
  </div>

  <div class="field">
    <%= form.label :id_area %>
    <%= form.number_field :id_area, id: :proyecto_area_id_area %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
