%p#notice= notice
%h1 Proyecto Areas
%table
  %thead
    %tr
      %th Id proyecto
      %th Id area
      %th{:colspan => "3"}
  %tbody
    - @proyecto_areas.each do |proyecto_area|
      %tr
        %td= proyecto_area.id_proyecto
        %td= proyecto_area.id_area
        %td= link_to 'Mostrar', proyecto_area
        %td= link_to 'Editar', edit_proyecto_area_path(proyecto_area)
        %td= link_to 'Borrar', proyecto_area, method: :delete, data: { confirm: 'Estas seguro?' }
%br/
= link_to 'Nuevo Proyecto Area', new_proyecto_area_path
