<p id="notice"><%= notice %></p>

<p>
  <strong>Id proyecto:</strong>
  <%= @proyecto_area.id_proyecto %>
</p>

<p>
  <strong>Id area:</strong>
  <%= @proyecto_area.id_area %>
</p>

<%= link_to 'Edit', edit_proyecto_area_path(@proyecto_area) %> |
<%= link_to 'Back', proyecto_areas_path %>
