.container
  .row
    .col.col-9
      %h1= @
    .col.col-3
      = link_to 'Editar', edit_proyecto_area_path(@proyecto_area), class: 'btn btn-outline-primary pull-right'
      = link_to 'Volver', proyecto_areas_path, class: 'btn btn-outline-link pull-right'
  .row
    .col.col-4.font-weight-bold
      Id proyecto:
    .col.col-8
      = @proyecto_area.id_proyecto
  .row
    .col.col-4.font-weight-bold
      Id area:
    .col.col-8
      = @proyecto_area.id_area
