- content_for(:page_class){'sign-in-page'}

.container

  .form-sign-in
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      .row
        .col
          %h1 Change your password

      - errors = devise_error_messages!
      - if !errors.blank?
        #error_explanation.alert.alert-danger{role: 'alert'}
          %h2
            Existen errores:

          = errors

      = f.hidden_field :reset_password_token
      .row
        .col.col-12.form-group
          - if @minimum_password_length
            %em
              (M&iacute;nimo #{@minimum_password_length} caracteres)
          = f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control', placeholder: raw('Contrase&ntilde;a')
        .col.col-12.form-group
          = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: raw('Confirmar contrase&ntilde;a')

      .row
        .col
          = render "devise/shared/links"
      .row
        .col.actions
          = f.submit "Change my password"
