<%= form_with(model: area_investigacion, local: true) do |form| %>
  <% if area_investigacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(area_investigacion.errors.count, "error") %> prohibited this area_investigacion from being saved:</h2>

      <ul>
      <% area_investigacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_investigacion %>
    <%= form.number_field :id_investigacion, id: :area_investigacion_id_investigacion %>
  </div>

  <div class="field">
    <%= form.label :id_area %>
    <%= form.number_field :id_area, id: :area_investigacion_id_area %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
