- collection ||= []
- param_name ||= :page
- hide_pagination ||= false
- report_mode ||= @report_mode

.row
  - if report_mode
    .col
      %table.table.table-striped
        %thead
          %tr
            %th Departamento
            %th Nombre
            %th Estado
            %th{:colspan => "3"}
        %tbody
          - collection.each do |municipio|
            %tr
              %td= municipio.nombre
              %td= municipio.departamento.nombre
              %td= render 'shared/status_beautify', status: municipio.status
              %td= link_to 'Mostrar', municipio
              %td= link_to 'Editar', edit_municipio_path(municipio)
              %td= link_to 'Borrar', municipio, method: :delete, data: { confirm: '&iquest;Est&aacute; seguro?'.html_safe }
  - else
    - collection.each do |municipio|
      .col.col-xs-12.col-md-4.col-lg-3
        .col.box-item
          = link_to municipio.nombre, municipio, class: 'title'
          .data= municipio.departamento.nombre
          .data= render 'shared/status_beautify', status: municipio.status
          .data-id= municipio.id
          .options
            .aux
              .icon
                %i.fa.fa-ellipsis-v
              .expand
                = link_to 'Mostrar', municipio
                = link_to 'Editar', edit_municipio_path(municipio)
                = link_to 'Borrar', municipio, class: 'text-danger', method: :delete, data: { confirm: '&iquest;Est&aacute; seguro?'.html_safe }
- if !hide_pagination
  .row
    .col
      = paginate collection, param_name: param_name
