- collection ||= []
- param_name ||= :page
- hide_pagination ||= false
- report_mode ||= false
.row
  - if report_mode
    .col
      %table.table.table-striped
        %thead
          %tr
            %th Nombre
            %th Descripci&oacute;n
            %th Estado
            %th{:colspan => "3"}
        %tbody
          - collection.each do |area|
            %tr
              %td= area.nombre
              %td= area.descripcion
              %td= render 'shared/status_beautify', status: area.status
              %td= link_to 'Mostrar', area
              %td= link_to 'Editar', edit_area_path(area)
              %td= link_to 'Borrar', area, method: :delete, data: { confirm: '&iquest;Est&aacute; seguro?'.html_safe }
  - else
    - collection.each do |area|
      .col.col-xs-12.col-md-4.col-lg-3
        .col.box-item
          = link_to area.nombre, area, class: 'title'
          .data= render 'shared/status_beautify', status: area.status
          .data-id= area.id
          .options
            .aux
              .icon
                %i.fa.fa-ellipsis-v
              .expand
                = link_to 'Mostrar', area
                = link_to 'Editar', edit_area_path(area)
                = link_to 'Borrar', area, class: 'text-danger', method: :delete, data: { confirm: '&iquest;Est&aacute; seguro?'.html_safe }

- if !hide_pagination
  .row
    .col
      = paginate collection, param_name: param_name
