<p id="notice"><%= notice %></p>

<p>
  <strong>Id instituto:</strong>
  <%= @proyecto_programa.id_instituto %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @proyecto_programa.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @proyecto_programa.descripcion %>
</p>

<p>
  <strong>Id status:</strong>
  <%= @proyecto_programa.id_status %>
</p>

<%= link_to 'Edit', edit_proyecto_programa_path(@proyecto_programa) %> |
<%= link_to 'Back', proyecto_programas_path %>
