<%= form_with(model: facultades_instituto, local: true) do |form| %>
  <% if facultades_instituto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(facultades_instituto.errors.count, "error") %> prohibited this facultades_instituto from being saved:</h2>

      <ul>
      <% facultades_instituto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_instituciones %>
    <%= form.number_field :id_instituciones, id: :facultades_instituto_id_instituciones %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :facultades_instituto_nombre %>
  </div>

  <div class="field">
    <%= form.label :siglas %>
    <%= form.text_field :siglas, id: :facultades_instituto_siglas %>
  </div>

  <div class="field">
    <%= form.label :telefono %>
    <%= form.text_field :telefono, id: :facultades_instituto_telefono %>
  </div>

  <div class="field">
    <%= form.label :extension %>
    <%= form.text_field :extension, id: :facultades_instituto_extension %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion, id: :facultades_instituto_direccion %>
  </div>

  <div class="field">
    <%= form.label :correo_electronico %>
    <%= form.text_field :correo_electronico, id: :facultades_instituto_correo_electronico %>
  </div>

  <div class="field">
    <%= form.label :sitio_web %>
    <%= form.text_field :sitio_web, id: :facultades_instituto_sitio_web %>
  </div>

  <div class="field">
    <%= form.label :id_status %>
    <%= form.number_field :id_status, id: :facultades_instituto_id_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
