<p id="notice"><%= notice %></p>

<p>
  <strong>Id instituciones:</strong>
  <%= @facultades_instituto.id_instituciones %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @facultades_instituto.nombre %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @facultades_instituto.siglas %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @facultades_instituto.telefono %>
</p>

<p>
  <strong>Extension:</strong>
  <%= @facultades_instituto.extension %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @facultades_instituto.direccion %>
</p>

<p>
  <strong>Correo electronico:</strong>
  <%= @facultades_instituto.correo_electronico %>
</p>

<p>
  <strong>Sitio web:</strong>
  <%= @facultades_instituto.sitio_web %>
</p>

<p>
  <strong>Id status:</strong>
  <%= @facultades_instituto.id_status %>
</p>

<%= link_to 'Edit', edit_facultades_instituto_path(@facultades_instituto) %> |
<%= link_to 'Back', facultades_institutos_path %>
