.container
  .row
    .col.col-9
      %h1 Mostrar cuenca
    .col.col-3
      = link_to 'Editar', edit_cuenca_path(@cuenca), class: 'btn btn-outline-primary pull-right'
      = link_to 'Volver', cuencas_path, class: 'btn btn-outline-link pull-right'
  .row
    .col.col-4.font-weight-bold
      ID:
    .col.col-8
      = @cuenca.id
  .row
    .col.col-4.font-weight-bold
      Nombre:
    .col.col-8
      = @cuenca.nombre
  .row
    .col.col-4.font-weight-bold
      Vertiente:
    .col.col-8
      = @cuenca.vertiente.try(:nombre)
  .row
    .col.col-4.font-weight-bold
      Estado
    .col.col-8
      = render 'shared/status_beautify', status: @cuenca.status

  %br/
  %br/
.container-fluid
  .row
    .col.col-8
      %h2 Subcuencas
    .col.col-4
      = link_to 'Nueva subcuenca', new_subcuenca_path, class:"btn btn-primary pull-right"

  = render 'subcuencas/list', collection: @cuenca.subcuencas, hide_pagination: true
