<%= form_with(model: vertiente, local: true) do |form| %>
  <% if vertiente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vertiente.errors.count, "error") %> prohibited this vertiente from being saved:</h2>

      <ul>
      <% vertiente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :vertiente_nombre %>
  </div>

  <div class="field">
    <%= form.label :id_status %>
    <%= form.number_field :id_status, id: :vertiente_id_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
