%p#notice= notice
%h1 Vertientes
%table
  %thead
    %tr
      %th Nombre
      %th Id status
      %th{:colspan => "3"}
  %tbody
    - @vertientes.each do |vertiente|
      %tr
        %td= vertiente.nombre
        %td= vertiente.id_status
        %td= link_to 'Show', vertiente
        %td= link_to 'Edit', edit_vertiente_path(vertiente)
        %td= link_to 'Destroy', vertiente, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Vertiente', new_vertiente_path
