.container
  .row
    .col.col-9
      %h1 Mostrar Vertiente
    .col.col-3
      = link_to 'Editar', edit_vertiente_path(@vertiente), class: 'btn btn-outline-primary pull-right'
      = link_to 'Volver', vertientes_path, class: 'btn btn-outline-link pull-right'
  .row
    .col.col-4.font-weight-bold
      Nombre:
    .col.col-8
      = @vertiente.nombre
  .row
    .col.col-4.font-weight-bold
      Estado
    .col.col-8
      = render 'shared/status_beautify', status: @vertiente.status

  %br/
  %br/

.container-fluid
  .row
    .col.col-8
      %h2 Cuencas
    .col.col-4
      = link_to 'Nueva Cuenca', new_cuenca_path, class:"btn btn-primary pull-right"

  = render 'cuencas/list', collection: @vertiente.cuencas, hide_pagination: true
