<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @vertiente.nombre %>
</p>

<p>
  <strong>Id status:</strong>
  <%= @vertiente.id_status %>
</p>

<%= link_to 'Edit', edit_vertiente_path(@vertiente) %> |
<%= link_to 'Back', vertientes_path %>
