<%= form_with(model: subcuenca, local: true) do |form| %>
  <% if subcuenca.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subcuenca.errors.count, "error") %> prohibited this subcuenca from being saved:</h2>

      <ul>
      <% subcuenca.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id_cuenca %>
    <%= form.number_field :id_cuenca, id: :subcuenca_id_cuenca %>
  </div>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre, id: :subcuenca_nombre %>
  </div>

  <div class="field">
    <%= form.label :id_status %>
    <%= form.number_field :id_status, id: :subcuenca_id_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
