- collection ||= []
- param_name ||= :page
- hide_pagination ||= false

.row
  .col
    %table.table.table-striped
      %thead
        %tr
          %th Cuenca
          %th Nombre
          %th Estado
          %th{:colspan => "3"}
      %tbody
        - collection.each do |subcuenca|
          %tr
            %td= subcuenca.cuenca.nombre
            %td= subcuenca.nombre
            %td= render 'shared/status_beautify', status: subcuenca.status
            %td= link_to 'Mostrar', subcuenca
            %td= link_to 'Editar', edit_subcuenca_path(subcuenca)
            %td= link_to 'Borrar', subcuenca, method: :delete, data: { confirm: 'Estas seguro?' }

- if !hide_pagination
  .row
    .col
      = paginate collection, param_name: param_name
