.container
  .row
    .col.col-9
      %h1 Mostrar Subcuenca
    .col.col-3
      = link_to 'Editar', edit_subcuenca_path(@subcuenca), class: 'btn btn-outline-primary pull-right'
      = link_to 'Volver', subcuencas_path, class: 'btn btn-outline-link pull-right'
  .row
    .col.col-4.font-weight-bold
      ID:
    .col.col-8
      = @subcuenca.id
  .row
    .col.col-4.font-weight-bold
      Nombre:
    .col.col-8
      = @subcuenca.nombre
  .row
    .col.col-4.font-weight-bold
      Vertiente / Cuenca:
    .col.col-8
      = @subcuenca.try(:cuenca).try(:vertiente).try(:nombre)
      = "/"
      = @subcuenca.try(:cuenca).try(:nombre)
  .row
    .col.col-4.font-weight-bold
      Estado
    .col.col-8
      = render 'shared/status_beautify', status: @subcuenca.status

  %br/
  %br/
.container-fluid
  .row
    .col.col-8
      %h2 Microcuencas
    .col.col-4
      = link_to 'Nueva Microcuenca', new_microcuenca_path, class:"btn btn-primary pull-right"

  = render 'microcuencas/list', collection: @subcuenca.microcuencas, hide_pagination: true
