<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tipo_documento.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo_documento.descripcion %>
</p>

<p>
  <strong>Id status:</strong>
  <%= @tipo_documento.id_status %>
</p>

<%= link_to 'Edit', edit_tipo_documento_path(@tipo_documento) %> |
<%= link_to 'Back', tipo_documentos_path %>
