.container
  .row
    .col.col-9
      %h1 Mostrar &aacute;rea de estudio
    .col.col-3
      = link_to 'Editar', edit_area_path(@area), class: 'btn btn-outline-primary pull-right'
      = link_to 'Volver', areas_path, class: 'btn btn-outline-link pull-right'
  .row
    .col.col-4.font-weight-bold
      ID:
    .col.col-8
      = @area.id
  .row
    .col.col-4.font-weight-bold
      Nombre:
    .col.col-8
      = @area.nombre
  .row
    .col.col-4.font-weight-bold
      Descripci&oacute;n:
    .col.col-8
      = @area.descripcion
  .row
    .col.col-4.font-weight-bold
      Estado
    .col.col-8
      = render 'shared/status_beautify', status: @area.status
