- collection ||= []
- param_name ||= :page
- hide_pagination ||= false

.row
  .col
    %table.table.table-striped
      %thead
        %tr
          %th Institucion
          %th Nombre
          %th Siglas
          %th Telefono
          %th Extension
          %th Direccion
          %th Correo electronico
          %th Sitio web
          %th Estado
          %th{:colspan => "3"}
      %tbody
        - collection.each do |facultad|
          %tr
            %td= facultad.institucion.nombre
            %td= facultad.nombre
            %td= facultad.siglas
            %td= render 'shared/phone_beautify', phone: facultad.telefono
            %td= facultad.extension
            %td= facultad.direccion
            %td= render 'shared/email_beautify', item: facultad
            %td= render 'shared/website_beautify', item: facultad
            %td= render 'shared/status_beautify', status: facultad.status
            %td= link_to 'Mostrar', facultad_path(facultad)
            %td= link_to 'Editar', edit_facultad_path(facultad)
            %td= link_to 'Borrar', facultad_path(facultad), method: :delete, data: { confirm: 'Estas seguro?' }

- if !hide_pagination
  .row
    .col
      = paginate collection, param_name: param_name
