<p id="notice"><%= notice %></p>

<h1>Facultades Institutos</h1>

<table>
  <thead>
    <tr>
      <th>Id instituciones</th>
      <th>Nombre</th>
      <th>Siglas</th>
      <th>Telefono</th>
      <th>Extension</th>
      <th>Direccion</th>
      <th>Correo electronico</th>
      <th>Sitio web</th>
      <th>Id status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facultades.each do |facultad| %>
      <tr>
        <td><%= facultad.id_instituciones %></td>
        <td><%= facultad.nombre %></td>
        <td><%= facultad.siglas %></td>
        <td><%= facultad.telefono %></td>
        <td><%= facultad.extension %></td>
        <td><%= facultad.direccion %></td>
        <td><%= facultad.correo_electronico %></td>
        <td><%= facultad.sitio_web %></td>
        <td><%= facultad.id_status %></td>
        <td><%= link_to 'Show', facultad_path(facultad) %></td>
        <td><%= link_to 'Edit', edit_facultad_path(facultad) %></td>
        <td><%= link_to 'Desactivar', desctroy_facultad_path(facultad), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Facultades Instituto', new_facultad_path %>
