.container
  .row
    .col.col-9
      %h1 Mostrar facultad
    .col.col-3
      = link_to 'Editar', edit_facultad_path(@facultad), class: 'btn btn-outline-primary pull-right'
      = link_to 'Volver', facultades_path, class: 'btn btn-outline-link pull-right'
  .row
    .col.col-4.font-weight-bold
      ID:
    .col.col-8
      = @facultad.id
  .row
    .col.col-4.font-weight-bold
      Nombre:
    .col.col-8
      = @facultad.nombre
  .row
    .col.col-4.font-weight-bold
      Siglas:
    .col.col-8
      = @facultad.siglas
  .row
    .col.col-4.font-weight-bold
      Instituci&oacute;n:
    .col.col-8
      = @facultad.institucion.nombre
  .row
    .col.col-4.font-weight-bold
      Tipo:
    .col.col-8
      = @facultad.tipo_instituto.nombre
  .row
    .col.col-4.font-weight-bold
      Tel&eacute;fono:
    .col.col-8
      = @facultad.telefono
  .row
    .col.col-4.font-weight-bold
      Extension:
    .col.col-8
      = @facultad.extension
  .row
    .col.col-4.font-weight-bold
      Direccion:
    .col.col-8
      = @facultad.direccion
  .row
    .col.col-4.font-weight-bold
      Correo electr&oacute;nico:
    .col.col-8
      = render 'shared/email_beautify', item: @facultad
  .row
    .col.col-4.font-weight-bold
      Sitio web:
    .col.col-8
      = render 'shared/website_beautify', item: @facultad
  .row
    .col.col-4.font-weight-bold
      Estado
    .col.col-8
      = render 'shared/status_beautify', status: @facultad.status


  %br/
  %br/
.container-fluid
  .row
    .col.col-8
      %h2 Proyectos
    .col.col-4
      = link_to 'Nuevo proyecto', new_proyecto_path, class:"btn btn-primary pull-right"

  = render 'proyectos/list', collection: @facultad.proyectos, hide_pagination: true


  %br/
  %br/
.container-fluid
  .row
    .col.col-8
      %h2 Investigaciones
    .col.col-4
      = link_to 'Nueva investigaci&oacute;n', new_investigacion_path, class:"btn btn-primary pull-right"

  = render 'investigaciones/list', collection: @facultad.investigaciones, hide_pagination: true
