<p id="notice"><%= notice %></p>

<p>
  <strong>Id instituciones:</strong>
  <%= @facultad.id_instituciones %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @facultad.nombre %>
</p>

<p>
  <strong>Siglas:</strong>
  <%= @facultad.siglas %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @facultad.telefono %>
</p>

<p>
  <strong>Extension:</strong>
  <%= @facultad.extension %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @facultad.direccion %>
</p>

<p>
  <strong>Correo electronico:</strong>
  <%= @facultad.correo_electronico %>
</p>

<p>
  <strong>Sitio web:</strong>
  <%= @facultad.sitio_web %>
</p>

<p>
  <strong>Id status:</strong>
  <%= @facultad.id_status %>
</p>

<%= link_to 'Edit', edit_facultad_path(@facultad) %> |
<%= link_to 'Back', facultades_path %>
