.container
  .row
    .col.col-9
      %h1 Mostrar Facultad
    .col.col-3
      = link_to 'Editar', edit_facultad_path(@facultad), class: 'btn btn-outline-primary pull-right'
      = link_to 'Volver', facultades_path, class: 'btn btn-outline-link pull-right'
  .row
    .col.col-4.font-weight-bold
      Id instituciones:
    .col.col-8
      = @facultad.id_instituciones
  .row
    .col.col-4.font-weight-bold
      Nombre:
    .col.col-8
      = @facultad.nombre
  .row
    .col.col-4.font-weight-bold
      Siglas:
    .col.col-8
      = @facultad.siglas
  .row
    .col.col-4.font-weight-bold
      Telefono:
    .col.col-8
      = @facultad.telefono
  .row
    .col.col-4.font-weight-bold
      Extension:
    .col.col-8
      = @facultad.extension
  .row
    .col.col-4.font-weight-bold
      Direccion:
    .col.col-8
      = @facultad.direccion
  .row
    .col.col-4.font-weight-bold
      Correo electronico:
    .col.col-8
      = render 'shared/email_beautify', item: @facultad
  .row
    .col.col-4.font-weight-bold
      Sitio web:
    .col.col-8
      = render 'shared/website_beautify', item: @facultad
  .row
    .col.col-4.font-weight-bold
      Estado
    .col.col-8
      = render 'shared/status_beautify', status: @facultad.status
