- @disable_header = true
- @disable_footer = true
- content_for(:page_class){'sign-in-page'}

.container
  .row
    .col.logo
      = image_tag 'logo.png', alt: 'RedfiA'
  .form-sign-in

    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .row
        .col
          %h1 Iniciar Sesi&oacute;n

      - errors = devise_error_messages!
      - if !errors.blank?
        #error_explanation.alert.alert-danger{role: 'alert'}
          = errors
      .row
        .col.col-12.form-group
          = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Correo electr&oacute;nico'.html_safe
        .col.col-12.form-group
          = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: raw('Contrase&ntilde;a')
        - if devise_mapping.rememberable?
          .col.col-12.form-group
            = f.check_box :remember_me
            = f.label :remember_me, 'Recordarme'
      .row
        .col
          = render "devise/shared/links"
      .row
        .col.actions
          = f.submit "Ingresar", class: 'btn btn-primary pull-right'
