- form_path = investigacion.id.nil? ? investigaciones_path : investigacion_path(investigacion)
= form_with(url: form_path, model: investigacion, local: true) do |form|
  - if investigacion.errors.any?
    #error_explanation.alert.alert-danger{role: 'alert'}
      %h2
        Existen
        = investigacion.errors.count
        = "error".pluralize(investigacion.errors.count, :es)
      %ul
        - investigacion.errors.full_messages.each do |message|
          %li= message

  .row
    .col.col-6.form-group
      = form.label :titulo, 'T&iacute;tulo'.html_safe
      = form.text_field :titulo, id: :investigacion_titulo, class: 'form-control'
    = render 'shared/autocomplete_widget',
      form: form,
      widget_class: 'col col-6 facultad-field',
      entity: investigacion.facultad,
      field: :id_instituto,
      param_id: :investigacion_id_instituto,
      label_text: 'Facultad o instituto'.html_safe
    = render 'shared/autocomplete_widget',
      form: form,
      widget_class: 'col col-6 microcuenca-field',
      entity: investigacion.try(:microcuenca),
      field: :id_microcuenca,
      param_id: :investigacion_id_microcuenca,
      label_text: 'Microcuenca'
    = render 'shared/autocomplete_widget',
      form: form,
      widget_class: 'col col-6 municipio-field',
      entity: investigacion.try(:municipio),
      field: :id_municipio,
      param_id: :investigacion_id_municipio,
      label_text: 'Municipio'
    .col.col-6.form-group
      = form.label :id_documento, "Tipo de documento"
      = form.select :id_documento, @tipo_documentos.collect{|i| [i.nombre, i.id]}, {}, {id: :investigacion_id_documento, class: 'form-control'}
    .col.col-6.form-group
      = form.label :autor
      = form.text_field :autor, id: :investigacion_autor, class: 'form-control'
    .col.col-6.form-group
      = form.label :no_paginas, 'N&uacute;mero de p&aacute;ginas'.html_safe
      = form.number_field :no_paginas, id: :investigacion_no_paginas, class: 'form-control'
  .row
    .col.col-6.form-group
      = form.label :fecha_realizacion, 'Fecha de realizaci&oacute;n'.html_safe
      = form.text_field :fecha_realizacion, id: :investigacion_fecha_realizacion, class: 'form-control date-picker', data: {provide: :datepicker, 'date-format': APP_CONFIG['date_format']}
    .col.col-6.form-group
      = form.label :fecha_publicacion, 'Fecha de publicaci&oacute;n'.html_safe
      = form.text_field :fecha_publicacion, id: :investigacion_fecha_publicacion, class: 'form-control date-picker', data: {provide: :datepicker, 'date-format': APP_CONFIG['date_format']}
  .row
    .col.col-12.form-group
      = form.label :resumen
      = form.text_area :resumen, id: :investigacion_resumen, class: 'form-control'
    .col.col-12.form-group
      = form.label :recurso_web
      = form.text_area :recurso_web, id: :investigacion_recurso_web, class: 'form-control'
    .col.col-6.form-group
      = form.label :palabras_clave
      = form.text_field :palabras_clave, id: :investigacion_palabras_clave, class: 'form-control'
    .col.col-6.form-group
      = form.label :id_status, "Estado"
      = form.select :id_status, @statuses.collect{|status| [status.nombre, status.id]}, {}, {id: :investigacion_id_status, class: 'form-control'}
  .row
    .col.actions
      = form.submit "Guardar", class: 'btn btn-primary pull-right'

- content_for :javascript do
  :erb
    <script type="text/javascript">
      (function() {
        // Facultad autocomplete
        configAutocomplete({
          queryInputSelector: 'form .facultad-field .query-input',
          valueInputSelector: 'form .facultad-field .value-input',
          source: '<%= j facultades_autocomplete_path(format: :json) %>'
        });
        // Microcuenca autocomplete
        configAutocomplete({
          queryInputSelector: 'form .microcuenca-field .query-input',
          valueInputSelector: 'form .microcuenca-field .value-input',
          source: '<%= j microcuencas_autocomplete_path(format: :json) %>'
        });
        // Municipio autocomplete
        configAutocomplete({
          queryInputSelector: 'form .municipio-field .query-input',
          valueInputSelector: 'form .municipio-field .value-input',
          source: '<%= j municipios_autocomplete_path(format: :json) %>'
        });

        // Date picker
        $('.date-picker').datepicker();
      })();
    </script>
