- collection ||= []
- param_name ||= :page
- hide_pagination ||= false
- report_mode ||= @report_mode

.row
  - if report_mode
    .col
      %table.table.table-striped
        %thead
          %tr
            %th Instituto
            %th Microcuenca
            %th Municipio
            %th Documento
            %th Autor
            %th Ti&iacute;tulo
            -#%th No paginas
            -#%th Fecha realizacion
            %th Fecha publicacion
            -#%th Resumen
            -#%th Palabras clave
            %th Recurso web
            %th Estado
            %th{:colspan => "3"}
        %tbody
          - collection.each do |investigacion|
            %tr
              %td= investigacion.facultad.try(:nombre)
              %td= investigacion.microcuenca.nombre
              %td= investigacion.municipio.nombre
              %td= investigacion.tipo_documento.nombre
              %td= investigacion.autor
              %td= investigacion.titulo
              -#%td= investigacion.no_paginas
              -#%td= investigacion.fecha_realizacion
              %td= investigacion.fecha_publicacion
              -#%td= investigacion.resumen
              -#%td= investigacion.palabras_clave
              %td= investigacion.recurso_web
              %td= render 'shared/status_beautify', status: investigacion.status
              %td= link_to 'Mostrar', investigacion_path(investigacion)
              %td= link_to 'Editar', edit_investigacion_path(investigacion)
              %td= link_to 'Borrar', investigacion_path(investigacion), method: :delete, data: { confirm: '&iquest;Est&aacute; seguro?'.html_safe }
  - else
    - collection.each do |investigacion|
      .col.col-xs-12.col-md-4.col-lg-3
        .col.box-item
          = link_to investigacion.titulo, investigacion, class: 'title'
          .data= investigacion.facultad.try(:nombre)
          .data= investigacion.tipo_documento.nombre
          .data= investigacion.autor
          .data= "Publicado: #{investigacion.fecha_publicacion}"
          .data= render 'shared/status_beautify', status: investigacion.status
          .data-id= investigacion.id
          .options
            .aux
              .icon
                %i.fa.fa-ellipsis-v
              .expand
                = link_to 'Mostrar', investigacion_path(investigacion)
                = link_to 'Editar', edit_investigacion_path(investigacion)
                = link_to 'Borrar', investigacion_path(investigacion), class: 'text-danger', method: :delete, data: { confirm: '&iquest;Est&aacute; seguro?'.html_safe }

- if !hide_pagination
  .row
    .col
      = paginate collection, param_name: param_name
