- form_path = microcuenca.id.nil? ? microcuenca_path : microcuenca_path(microcuenca)
= form_with(url: form_path, model: microcuenca, local: true) do |form|
  - if microcuenca.errors.any?
    #error_explanation.alert.alert-danger{role: 'alert'}
      %h2
        Existen
        microcuenca.errors.count
        = "error".pluralize(microcuenca.errors.count, :es)
      %ul
        - microcuenca.errors.full_messages.each do |message|
          %li= message

  .row
    .col.col-4.form-group
      = form.label :id_subcuenca
      = form.number_field :id_subcuenca, id: :microcuenca_id_subcuenca, class: 'form-control'
    .col.col-4.form-group
      = form.label :nombre
      = form.text_field :nombre, id: :microcuenca_nombre, class: 'form-control'
    .col.col-4.form-group
      = form.label :id_status, "Estado"
      = form.select :id_status, @statuses.collect{|status| [status.nombre, status.id]}, {}, {id: :microcuenca_id_status, class: 'form-control'}
  .actions
      = form.submit "Guardar", class: 'btn btn-primary pull-right'
