%p#notice= notice
%h1 Microcuencas
%table
  %thead
    %tr
      %th Id subcuenca
      %th Nombre
      %th Id status
      %th{:colspan => "3"}
  %tbody
    - @microcuencas.each do |microcuenca|
      %tr
        %td= microcuenca.id_subcuenca
        %td= microcuenca.nombre
        %td= microcuenca.id_status
        %td= link_to 'Show', microcuenca
        %td= link_to 'Edit', edit_microcuenca_path(microcuenca)
        %td= link_to 'Destroy', microcuenca, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Microcuenca', new_microcuenca_path
