<p id="notice"><%= notice %></p>

<p>
  <strong>Id subcuenca:</strong>
  <%= @microcuenca.id_subcuenca %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @microcuenca.nombre %>
</p>

<p>
  <strong>Id status:</strong>
  <%= @microcuenca.id_status %>
</p>

<%= link_to 'Edit', edit_microcuenca_path(@microcuenca) %> |
<%= link_to 'Back', microcuencas_path %>
