- form_path = cuenca.id.nil? ? cuencas_path : cuenca_path(cuenca)
= form_with(url: form_path, model: cuenca, local: true) do |form|
  - if cuenca.errors.any?
    #error_explanation.alert.alert-danger{role: 'alert'}
      %h2
        Existen
        cuenca.errors.count
        = "error".pluralize(cuenca.errors.count, :es)
      %ul
        - cuenca.errors.full_messages.each do |message|
          %li= message

  .row
    .col.col-4.form-group
      = form.label :id_vertiente
      = form.number_field :id_vertiente, id: :cuenca_id_vertiente, class: 'form-control'
    .col.col-4.form-group
      = form.label :nombre
      = form.text_field :nombre, id: :cuenca_nombre, class: 'form-control'
    .col.col-4.form-group
      = form.label :id_status, "Estado"
      = form.select :id_status, @statuses.collect{|status| [status.nombre, status.id]}, {}, {id: :cuenca_id_status, class: 'form-control'}
  .actions
    = form.submit "Guardar", class: 'btn btn-primary pull-right'
