<p id="notice"><%= notice %></p>

<h1>Cuencas</h1>

<table>
  <thead>
    <tr>
      <th>Id vertiente</th>
      <th>Nombre</th>
      <th>Id status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cuencas.each do |cuenca| %>
      <tr>
        <td><%= cuenca.id_vertiente %></td>
        <td><%= cuenca.nombre %></td>
        <td><%= cuenca.id_status %></td>
        <td><%= link_to 'Show', cuenca %></td>
        <td><%= link_to 'Edit', edit_cuenca_path(cuenca) %></td>
        <td><%= link_to 'Destroy', cuenca, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cuenca', new_cuenca_path %>
