%p#notice= notice
%h1 Cuencas
%table
  %thead
    %tr
      %th Id vertiente
      %th Nombre
      %th Id status
      %th{:colspan => "3"}
  %tbody
    - @cuencas.each do |cuenca|
      %tr
        %td= cuenca.id_vertiente
        %td= cuenca.nombre
        %td= cuenca.id_status
        %td= link_to 'Show', cuenca
        %td= link_to 'Edit', edit_cuenca_path(cuenca)
        %td= link_to 'Destroy', cuenca, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Cuenca', new_cuenca_path
