<p id="notice"><%= notice %></p>

<p>
  <strong>Id vertiente:</strong>
  <%= @cuenca.id_vertiente %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cuenca.nombre %>
</p>

<p>
  <strong>Id status:</strong>
  <%= @cuenca.id_status %>
</p>

<%= link_to 'Edit', edit_cuenca_path(@cuenca) %> |
<%= link_to 'Back', cuencas_path %>
