- collection ||= []
- param_name ||= :page
- hide_pagination ||= false
- report_mode ||= @report_mode

.row
  - if report_mode
    .col
      %table.table.table-striped
        %thead
          %tr
            %th Nombre
            %th Descripci&oacute;n
            %th Estado
            %th{:colspan => "3"}
        %tbody
          - collection.each do |tipo_documento|
            %tr
              %td= tipo_documento.nombre
              %td= tipo_documento.descripcion
              %td= render 'shared/status_beautify', status: tipo_documento.status
              %td= link_to 'Mostrar', tipo_documento
              %td= link_to 'Editar', edit_tipo_documento_path(tipo_documento)
              %td= link_to 'Borrar', tipo_documento, method: :delete, data: { confirm: 'Estas seguro?' }
  - else
    - collection.each do |tipo_documento|
      .col.col-xs-12.col-md-4.col-lg-3
        .col.box-item
          = link_to tipo_documento.nombre, tipo_documento, class: 'title'
          .data= render 'shared/status_beautify', status: tipo_documento.status
          .data-id= tipo_documento.id
          .options
            .aux
              .icon
                %i.fa.fa-ellipsis-v
              .expand
                = link_to 'Mostrar', tipo_documento
                = link_to 'Editar', edit_tipo_documento_path(tipo_documento)
                = link_to 'Borrar', tipo_documento, class: 'text-danger', method: :delete, data: { confirm: 'Estas seguro?' }

- if !hide_pagination
  .row
    .col
      = paginate collection, param_name: param_name
